@import 'vars';

.MyOrder {
  width: 360px;
  padding: 24px;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  background-color: white;
  top: 60px;
  bottom: 0;
  border-radius: 6px;
  border: 1px solid $--very-light-pink;
  z-index: 1;
}
.title-container {
  display: flex;
}
.MyOrder-container {
  position: sticky;
  bottom: 0;
  right: 0;
}
.title-container img {
  transform: rotate(180deg);
  margin-right: 14px;
}
.title {
  font-size: $--lg;
  font-weight: bold;
}

.my-order-content {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.my-orders {
  overflow: scroll;
  max-height: 65%;
}

.my-orders::-webkit-scrollbar {
  width: 0px;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: $--text-input-field;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: $--md;
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: $--hospital-green;
  border-radius: 8px;
  border: none;
  color: $--white;
  width: 100%;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 50px;
}
@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
